<h2>List</h2>
<%= link_to 'list all', tasks_path %>
<%= link_to  'only completed', tasks_path + "?status=true", style:"margin-left:5px;" %>
<%= link_to  'only not yet', tasks_path + "?status=false", style:"margin-left:5px;" %>
<%= link_to  'create task', new_task_path, class:"pull-right" %>
<table class="table table-bordered">
  <thead>
  <tr>
    <th class="grid-th-width1 pc-only">No</th>
    <th class="grid-th-width2">Task</th>
    <th class="grid-th-width3">Deadline</th>
    <th class="grid-th-width4">Status</th>
    <th class="grid-th-width5">Edit</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
      <tr style="height:48px;">
        <td class="pc-only"><%= @grid_no.to_s %></td>
        <td style="vertical-align: middle"><%= task.title %></td>
        <td style="vertical-align: middle"><%= deadline_format(task.deadline) %></td>
        <td style="vertical-align: middle"><%= status_tag(task) %></td>
        <td class="edit-cell">
          <%= link_to 'show', task_path(task) %>
          <%= link_to 'edit', edit_task_path(task) %>
          <%= link_to 'delete', task_path(task), method: 'delete' %>
        </td>
      </tr>
      <% @grid_no = @grid_no + 1 %>
  <% end %>
  <tbody>
  </table>
<div style="text-align: center">
  <%= will_paginate @tasks,
                    renderer: BootstrapPagination::Rails,
                    previous_label: "previous",
                    next_label: "next",
                    inner_window: 1,
                    outer_window: 0,
                    class:"pagination-sm"
  %>
</div>
